<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/programmer"><button type="button" name="button">Programmers</button></a>
    <a href="/projects"><button type="button" name="button">Projects</button></a>
    <a href="/admin"><button type="button" name="button">Admin</button></a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> <%= content %> </p>
  </body>
</html>
