<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
  </head>
  <body>
    <h1> <%= title %> </h1>

    <!-- <div id="form-tambah-project">
      <form action="/getdata" method="post" id="project-form">
        <label>
          Project Name
          <br>
          <input type="text" name="namaproject" value ="" >
        </label>
        <br>
        <label>
          Project Description
          <br>
          <textarea name="deskripsiproject" placeholder=""></textarea>
        </label>
        <br>
        <label>
          Budget
          <br>
          <input type="text" name="budgetproject" value ="" >
          <br>
        </label>
        <br>
        <button> submit </button>
      </form>
    </div>
    <hr>
    -->
    <table>
      <tr>
        <th>No </th>
        <th>Project Name</th>
      </tr>
      <% let no = 1; %>
      <% projects.forEach(function(project){ %>

        <tr>
          <td><%= no %> </td>
          <td> <%= project.name %> </td>
        </tr>
      <% no += 1  %>
      <% }) %>
    </table>

  </body>
</html>