<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Add Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Form Add Project</h1>
    <div id="form-tambah-programmer">
      <form action="/projects/add-project" method="post">
        <label>
          Project Name
          <br>
          <input type="text" name="namaproject" value ="" >
        </label>
        <br>
        <label>
          Project Description
          <br>
          <textarea name="deskripsiproject" placeholder=""></textarea>
        </label>
        <br>
        <label>
          Budget
          <br>
          <input type="text" name="budgetproject" value ="" >
          <br>
        </label>
        <br>
        <button> submit </button>
      </form>
    </div>
    <hr>

  </body>
</html>