<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Details</title>
  </head>
  <body>
    <h1>Project Details</h1>
    <p>Nama Project</p>
      <p><%= data.name %></p>
    <hr>
    <p>Deskrips Project</p>
      <p><%= data.description %></p>

  </body>
</html>